
body {
    background:
            -moz-radial-gradient(black 15%, transparent 16%),
            -moz-radial-gradient(black 15%, transparent 16%),
            orangered;
    background:
            -webkit-radial-gradient(black 15%, transparent 16%),
            -webkit-radial-gradient(black 15%, transparent 16%),
            orangered;
    background-position: 0 0, 80px 80px;
    background-size: 160px 160px;
    -webkit-background-size:160px 160px;
    -moz-background-size:160px 160px;
    text-align: center;
    color: white;
    font-family: 'Cedarville Cursive', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-shrink: 0; 
}

.spacer {
    flex: 1;
}

input,
select,
textarea {
    max-width: 280px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

.carousel-inner > .item > img
{
    width: 100%;
    height: 768px;  

}

/* Hide/rearrange for smaller screens */
/*@media screen and (max-width: 767px) {*/
  /* Hide captions */
  /*.carousel-caption {
    display: none
  }
}*/

footer {
    background-color: black;
}

.footer {
    flex-shrink: 0;
}

footer p {
    color: #9d9d9d;
    margin: 0px;
}

.greeting a {
    text-decoration: underline;
    color: white;
}